.bingo-card
  %h1
    Fun Fact Bingo
    %small ##{card.id}
  .bingo-card-inner
    %table
      - card.squares.in_groups_of(5) do |row|
        %tr
          - row.compact.each do |square|
            %td= square.text
