- card.fun_facts.each_slice(25) do |subcard|
  .card
    %h1 Fun Fact Bingo
    %table
      - subcard.each_slice(5) do |row|
        %tr
          - row.each do |square|
            %td= square.text

    %p Card Set ##{card.id}
