- card.fun_facts.in_groups_of(Card::CARD_SIZE / 2) do |subcard|
  .card
    %h1 Fun Fact Bingo
    %table
      -# Insert a blank square
      - subcard = subcard.insert(subcard.length / 2, FunFact.new)
      - subcard.in_groups_of(5) do |row|
        %tr
          - row.compact.each do |square|
            %td= square.text

    %p Card Set ##{card.id}
