/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);

html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.card {
  page-break-after: always;
  border-radius: 10px;
  border: solid 10px #47ADC2;
  background-color: #47ADC2;
}

.card h1 {
  color: #fff;
  font-size: 30px;
  font-family: 'Delius Unicase';
  font-weight: 700;
  text-transform: uppercase;
}

.card h1 small {
  font-size: 14px;
  font-weight: 400;
  background-color: #47ADC2;
}

.inner-card {
  background-color: white;
  padding: 5px;
}

.card table {
  border-collapse: collapse;
}

.card td {
  /*border: solid 2px #acacac;*/
  padding: 1.5em .5em;
  width: 20%;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  background-color: white;
  border-top:
}

.card p {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th,
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
